.AlexisLoya {
    --peep-head: gray-short;
    --peep-face: blank;
    --peep-accessory: glasses3;
    --peep-body: gaming;

    --peep-hat-color: #FC03C2;
    --peep-hair-color: #000000;
    --peep-skin-color: #cbc195;
    --peep-accessory-color: #8bd450;
    --peep-facial-hair-color: #ffd700;
    --peep-object-color: #8bd450;
    --peep-clothes-color: #965fd4;
}