.GandyA23 {
    --peep-head: afro;
    --peep-face: smile;
    --peep-accessory: glasses1;
    --peep-body: sporty-tee;
  
    --peep-hat-color: #FC03C2;
    --peep-hair-color: #7300E6;
    --peep-skin-color: #f7c19b;
    --peep-accessory-color: #00ff00;
    --peep-facial-hair-color: #ffd700;
    --peep-object-color: #ffa500;
    --peep-clothes-color: #59aee3;
}
