.HectorSaldes {
    --peep-head: sierra;
  --peep-face: smile-big;
  --peep-accessory: glasses1;
  --peep-body: laptop;

  --peep-hat-color: #ffffff;
  --peep-hair-color: #000000;
  --peep-skin-color: #ffffff;
  --peep-accessory-color: #ffffff;
  --peep-facial-hair-color: #ffd700;
  --peep-object-color: #cfcece;
  --peep-clothes-color: #ffe433;
}
