.JairDavid {
    --peep-head: buns;
    --peep-face: blank;
    --peep-body: turtleneck;
    --peep-hat-color: #FC03C2;
    --peep-hair-color: #7300E6;
    --peep-skin-color: #ffce8a;
    --peep-accessory-color: #d8d9b5;
    --peep-facial-hair-color: #ffd700;
    --peep-object-color: #ffa500;
    --peep-clothes-color: #721d1d;
}
