.Luenalor {
    --peep-head: pomp;
    --peep-face: calm;
    --peep-accessory: glasses3;
    --peep-facial-hair: mustache6;
    --peep-body: polkadot-jacket;

    --peep-hat-color: #5a3f53;
    --peep-hair-color: #7300E6;
    --peep-skin-color: #f0bd66;
    --peep-accessory-color: #3aa13a;
    --peep-facial-hair-color: #a9972d;
    --peep-object-color: #b3aa98;
    --peep-clothes-color: #3e5279;
}