.SebastianCarv {
    --peep-head: bald2;
    --peep-face: loving-grin1;
    --peep-accessory: sunglasses2;
    --peep-facial-hair: beard1;
    --peep-body: tee-crossed;

    --peep-hat-color: #FC03C2;
    --peep-hair-color: #7300E6;
    --peep-skin-color: #87ceeb;
    --peep-accessory-color: #00ff00;
    --peep-facial-hair-color: #ffd700;
    --peep-object-color: #ffa500;
    --peep-clothes-color: #ff0000;
}
